# Node modules
node_modules/

# Environment variables
.env

#server.js (old)
server.js
backend\package-lock.json
#backend

backend\backend\.env


# pytest cache
.pytest_cache
tests/__pycache__
.coverage

# package json
package-lock.json

# sqlite database
db.sqlite3

# ignoring pycache
app1/__pycache__
app1/migrations/__pycache__
backend/__pycache__
scraper/__pycache__
scraper/migrations/__pycache__
canvasapp/__pycache__
canvasapp/migrations/__pycache__
**/__pycache__