# Node modules
node_modules/

# Environment variables
.env

#server.js (old)
server.js
backend\package-lock.json
#backend

backend\backend\.env

backend/app1/__pycache__/
backend/backend/__pycache__/
backend/db.sqlite3